{include file="public/header" /}
		<div class="panel_box row">
			<div class="panel col">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#009688;">
						<i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
					</div>
					<div class="panel_word userAll">
						<span>{$total.user}</span>
						<cite>用户总数</cite>
					</div>
				</a>
			</div>
			<div class="panel col">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#F7B824;">
						<i class="iconfont icon-wenben" data-icon="icon-wenben"></i>
					</div>
					<div class="panel_word waitNews">
						<span>{$total.rt}</span>
						<cite>礼薄总数</cite>
					</div>
				</a>
			</div>
		</div>

		<div class="panel_box row">
			<div class="panel col">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#FF5722;">
						<i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
					</div>
					<div class="panel_word userAll">
						<span>{$total.user_today}</span>
						<cite>今日新增用户</cite>
					</div>
				</a>
			</div>
			<div class="panel col">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#FF5722;">
						<i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
					</div>
					<div class="panel_word userAll">
						<span>{$total.user_7}</span>
						<cite>7日新增用户</cite>
					</div>
				</a>
			</div>
			<div class="panel col">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#FF5722;">
						<i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
					</div>
					<div class="panel_word userAll">
						<span>{$total.user_30}</span>
						<cite>30日新增用户</cite>
					</div>
				</a>
			</div>
		</div>

		<div class="panel_box row">
			<div class="panel col max_panel">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#2F4056;">
						<i class="iconfont icon-text" data-icon="icon-text"></i>
					</div>
					<div class="panel_word allNews">
						<span>{$total.rt_today}</span>
						<em>今日新增礼薄</em>
					</div>
				</a>
			</div>
			<div class="panel col max_panel">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#2F4056;">
						<i class="iconfont icon-text" data-icon="icon-text"></i>
					</div>
					<div class="panel_word allNews">
						<span>{$total.rt_7}</span>
						<em>7日新增礼薄</em>
					</div>
				</a>
			</div>
			<div class="panel col max_panel">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#2F4056;">
						<i class="iconfont icon-text" data-icon="icon-text"></i>
					</div>
					<div class="panel_word allNews">
						<span>{$total.rt_30}</span>
						<em>30日新增礼薄</em>
					</div>
				</a>
			</div>
		</div>

		<blockquote class="layui-elem-quote news_search">
			<div class="layui-inline">
				<form id="formData">
					<div class="layui-input-inline">
						<input type="text" class="layui-input" name="date_start" id="date_start">
					</div>—
					<div class="layui-input-inline">
						<input type="text" class="layui-input" name="date_end" id="date_end">
					</div>
					<button type="button" class="layui-btn search_btn" id="button" data-url="{:url('index/search')}">查询</button>
				</form>
			</div>
		</blockquote>

		<div class="panel_box row">
			<div class="panel col">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#009688;">
						<i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
					</div>
					<div class="panel_word userAll">
						<span id="user"></span>
						<cite>用户总数</cite>
					</div>
				</a>
			</div>
			<div class="panel col">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#F7B824;">
						<i class="iconfont icon-wenben" data-icon="icon-wenben"></i>
					</div>
					<div class="panel_word waitNews">
						<span id="rt"></span>
						<cite>礼薄总数</cite>
					</div>
				</a>
			</div>
		</div>

		<div class="row">
			<!--<div class="sysNotice col">-->
				<!--<blockquote class="layui-elem-quote title">更新日志</blockquote>-->
				<!--<div class="layui-elem-quote layui-quote-nm">-->
					<!--<h3># 1.0.9_rls （发行版） - 2017-03-01</h3>-->
					<!--<p>* checkbox复选框原始风格支持不显示文字（之前会默认显示：勾选）</p>-->
					<!--<p>* 进度条超出100%情况下的自动处理</p>-->
					<!--<p>* 修复Tab选项卡在出现下拉按钮时，点击最后的几个选项卡未能正常切换的bug</p>-->
					<!--<p>* 修复select组件搜索选择时会先显示之前的值再替换新的值的不良体验</p>-->
					<!--<p>* 修复默认进度条0%时，文本出现太过于左侧的问题</p>-->
					<!--<br />-->
					<!--<p># 1.0.9</p>-->
					<!--<p>* 新增“折叠面板”页面元素及相关事件监听</p>-->
					<!--<p>* select组件增加搜索匹配功能，通过参数 lay-search 开启</p>-->
					<!--<p>* checkbox组件增加原始风格样式，通过设置 lay-skin="primary" 开启（跟系统自带的类似样貌）</p>-->
					<!--<p>* 升级 layer弹层组件到 3.0.2 （ layer3.0.2更新日志 ）</p>-->
					<!--<p>* 表单元素增加属性 lay-ignore ,设置后，将不会对该标签进行美化渲染，即保留系统风格</p>-->
					<!--<p>* 开关增加两种状态的自定义文本，通过参数 lay-text="ON|OFF" 开启</p>-->
					<!--<p>* 修复Tab选项卡嵌套的Tab没有对应的内容结构时，切换到了父级内容的bug</p>-->
					<!--<p>* 修复Tab选项卡容器中使用下拉框时，被溢出隐藏的问题</p>-->
					<!--<p>* 修复Tab选项卡溢满情况下，点击展开按钮，再在外部添加一个选项卡出现异常的bug</p>-->
					<!--<p>* Tab选项卡部分UI细节优化</p>-->
					<!--<p>* Tab选项卡的tabAdd增加id参数，用于在删除和切换时，以id作为匹配媒介</p>-->
				<!--</div>-->
			<!--</div>-->
			<div class="sysNotice col" style="width: 100%">
				<blockquote class="layui-elem-quote title">系统基本参数</blockquote>
				<table class="layui-table">
					<colgroup>
						<col width="150">
						<col>
					</colgroup>
					<tbody>
						{volist name="info" id="vo"}
							<tr>
								<td>{$key}</td>
								<td class="version">{$vo}</td>
							</tr>
						{/volist}
					</tbody>
				</table>
				<!--<blockquote class="layui-elem-quote title">最新文章<i class="iconfont icon-new1"></i></blockquote>
				<table class="layui-table" lay-skin="line">
					<colgroup>
						<col>
						<col width="110">
					</colgroup>
					<tbody class="hot_news"></tbody>
				</table>-->
			</div>
		</div>
{include file="public/footer" /}


<script>
	layui.use('laydate', function(){
		var laydate = layui.laydate;

		//执行一个laydate实例
		laydate.render({
			elem: '#date_start' //指定元素
		});
		laydate.render({
			elem: '#date_end' //指定元素
		});
	});

	$("#button").click(function(){
		var url = $(this).attr("data-url");
		var data = $("#formData").serialize();

		$.ajax({
			type:"post",
			dataType:"json",
			url:url,
			data:data,
			success:function(date){
				if(date.status == 1){
					$("#user").html(date.data.user);
					$("#rt").html(date.data.rt);
				}else{
					layer.msg(date.msg,{icon:2,time:1000});
				}
			}
		})
	})
</script>
