{include file="public/header" /}
<section class="layui-larry-box">
	<div class="larry-personal">
		<div class="layui-tab">
			<blockquote class="layui-elem-quote news_search">
				<div class="layui-inline">
					<form method="get">
						<div class="layui-input-inline">
							<input value="{$param['id']}" placeholder="请输入提醒id" name="id" class="layui-input search_input" type="text">
						</div>
						<div class="layui-input-inline">
							<input value="{$param['uid']}" placeholder="请输入用户id" name="uid" class="layui-input search_input" type="text">
						</div>
						<button type="submit" class="layui-btn search_btn">查询</button>
					</form>
				</div>
					
			</blockquote>

			<!-- 操作日志 -->
			<div class="layui-form news_list">
				<table class="layui-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>所属人</th>
							<th>姓名</th>
							<th>事项</th>
							<th>地址</th>
							<th>手机</th>
							<th>开始时间</th>
							<th>添加时间</th>
							<th>状态</th>
						</tr>
					</thead>
					<tbody class="news_content">
						{volist name="remind['list']" id="vo"}
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.nick_name}(ID:{$vo.uid})</td>
								<td>{$vo.name}</td>
								<td>{$vo.event}</td>
								<td>{$vo.address}</td>
								<td>{$vo.phone}</td>
								<td>{$vo.start_time|date='Y-m-d H:i',###}</td>
								<td>{$vo.time|date='Y-m-d H:i',###}</td>
								<td>
									{if condition="$vo['status']"}
										<a href="javascript:;" class="layui-btn layui-btn-mini ">未过期</a>
									{else/}
									<a data-url="javascript:;" class="layui-btn layui-btn-danger layui-btn-mini"> 已过期</a>
									{/if}
								</td>
							</tr>
						{/volist}
					</tbody>
				</table>
				<div style="text-align: right;">
					{$remind.page}
				</div>
			</div>

		</div>
	</div>
</section>
{include file="public/footer" /}